@model List<Incident>
@{
    ViewBag.Title = "Incident Management";
}
<h1 class="display-3">SportsPro Incident Management</h1>
<div class="d-grid gap-2 my-3">
    <a asp-controller="Incident" asp-action="Add" class="btn btn-primary">Add Incident</a>
</div>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Title</th>
            <th>Customer</th>
            <th>Product</th>
            <th>Date Opened:</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var incident in Model)
        {
            <tr>
                <td>@incident.Title</td>
                <td>@incident.Customer.FullName()</td>
                <td>@incident.Product.Name</td>
                <td>@incident.DateOpened</td>
                <td><a asp-controller="Incident" asp-action="Edit" asp-route-id="@incident.IncidentId" class="btn btn-warning">Edit</a></td>
                <td><a asp-controller="Incident" asp-action="Delete" asp-route-id="@incident.IncidentId" class="btn btn-danger">Delete</a></td>
            </tr>
        }
    </tbody>
</table>