@{
    string c = ViewContext.RouteData.Values["controller"]?.ToString() ?? "";
    string a = ViewContext.RouteData.Values["action"]?.ToString() ?? "";
}
@using Microsoft.AspNetCore.Identity
@using SportsPro.Models.DomainModels
@inject SignInManager<User> signInManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SportsPro</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SportsPro.styles.css" asp-append-version="true" />
</head>
<body class="bg-pitch">
    <header class="header-container z-3">
        <nav class="navbar navbar-expand-md navbar-toggleable-md navbar-dark mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">SportsPro</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item"><a asp-area="" asp-controller="Product" asp-action="Index" class="nav-link @(c == "Product" && a == "Index" ? "nav-item-active" : "") @(c == "Product" && a == "Add" ? "nav-item-active" : "") @(c == "Product" && a == "Edit" ? "nav-item-active" : "") @(c == "Product" && a == "Delete" ? "nav-item-active" : "")">Products</a></li>
                        <li class="nav-item"><a asp-area="" asp-controller="Technician" asp-action="Index" class="nav-link @(c == "Technician" && a == "Index" ? "nav-item-active" : "") @(c == "Technician" && a == "Add" ? "nav-item-active" : "") @(c == "Technician" && a == "Edit" ? "nav-item-active" : "") @(c == "Technician" && a == "Delete" ? "nav-item-active" : "")">Technicians</a></li>
                        <li class="nav-item"><a asp-area="" asp-controller="Customer" asp-action="Index" class="nav-link @(c == "Customer" && a == "Index" ? "nav-item-active" : "") @(c == "Customer" && a == "Add" ? "nav-item-active" : "") @(c == "Customer" && a == "Edit" ? "nav-item-active" : "") @(c == "Customer" && a == "Delete" ? "nav-item-active" : "")">Customers</a></li>
                        <li class="nav-item"><a asp-area="" asp-controller="Incident" asp-action="Index" asp-route-filter="all" class="nav-link @(c == "Incident" && a == "Index" ? "nav-item-active" : "") @(c == "Incident" && a == "Add" ? "nav-item-active" : "") @(c == "Incident" && a == "Edit" ? "nav-item-active" : "") @(c == "Incident" && a == "Delete" ? "nav-item-active" : "")">Incidents</a></li>
                        <li class="nav-item"><a asp-area="" asp-controller="Registration" asp-action="Index" class="nav-link @(c == "Registration" && a == "Index" ? "nav-item-active" : "") @(c == "Registration" && a == "Register" ? "nav-item-active" : "")">Registrations</a></li>
                    </ul>
                    <ul class="navbar-nav ms-auto">
                        @if (signInManager.IsSignedIn(User))
                        {
                            <li class="nav-item"><form asp-area="" asp-controller="Account" asp-action="Logout" class="nav-link"><button type="submit" class="nav-link d-inline-flex">Logout</button></form></li>
                        }
                        else
                        {
                            <li class="nav-item"><a asp-area="" asp-controller="Account" asp-action="Register" class="nav-link">Register</a></li>
                            <li class="nav-item"><a asp-area="" asp-controller="Account" asp-action="Login" class="nav-link">Login</a></li>
                        }
                        <li class="nav-item align-content-center"><a asp-area="" asp-controller="Home" asp-action="About" class="nav-link @(c == "Home" && a == "About" ? "nav-item-active" : "")">About</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container body-container">
        <main role="main" class="pb-3">
            <h1 class="dynamic-heading">@ViewBag.Title</h1>
            <hr>
            @RenderBody()
        </main>
    </div>

    <footer class="footer mt-3 ">
        <div class="container">
            &copy; 2024 - SportsPro
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
