@model List<Product>
@{
    ViewBag.Title = "SportsPro Product List";
}
    <div class="d-grid gap-2 my-3">
        <a asp-controller="Product" asp-action="Add" class="btn btn-primary">Add Product</a>
    </div>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Code</th>
                <th>Title</th>
                <th>Price</th>
                <th>Release Date</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
            <tbody>
                @foreach (var product in Model)
                {
                    <tr>
                        <td>@product.ProductCode</td>
                        <td>@product.Name</td>
                        <td>@product.AnnualPrice</td>
                        <td>@product.ReleaseDate</td>
                        <td><a asp-controller="Product" asp-action="Edit" asp-route-id="@product.ProductId" class="btn btn-warning">Edit</a></td>
                        <td><a asp-controller="Product" asp-action="Delete" asp-route-id="@product.ProductId" class="btn btn-danger">Delete</a></td>
                    </tr>
                }
            </tbody>
    </table>